<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

    <body>
    <%- include("../partials/header.ejs") %>
        <main>
            <a href="/pills/<%= pill._id %>"><img class="arrow" src="/img/arrow.png" width="20px"></a>
            <h2 class="edit">Edit <%= pill.name %></h2>
            <div class="edit-container">
                <form action="/pills/<%= pill._id %>?_method=PUT" method="post">
                    <fieldset>
                        <label>
                            Medicine Name:<input
                            type="text"
                            name="name"
                            value="<%= pill.name %>"
                            />
                        </label>
                        <label>Choose a medicine type: </label>
                            <select id="medication-type" name="type">
                                <option value="capsule" <%= pill.type === 'capsule' ?'selected' : '' %> >Capsule</option>
                                <option value="tablet" <%= pill.type === 'tablet' ?'selected' : '' %>>Tablet</option>
                                <option value="softgel" <%= pill.type === 'softgel' ?'selected' : '' %> >Softgel</option>
                                <option value="syrup" <%= pill.type === 'syrup' ?'selected' : '' %> >Syrup</option>
                                <option value="aerosol" <%= pill.type === 'aerosol' ?'selected' : '' %> >Aerosol</option>
                                <option value="injection" <%= pill.type === 'injection' ?'selected' : '' %> >Injection</option>
                            </select>
                        <label><br>
                            Stock:<input
                            type="number"
                            name="stock"
                            value="<%= pill.stock %>"
                            />
                        </label>
                        <label>Time</label> <input id="time" type="text" name="time" value="<%= pill.time %>"> 
                        </fieldset>
                        <input id="edit-button" type="submit" value="Submit" />
                    </form>
            </div>
            <div class="nav-bar">
            <%- include("../partials/nav.ejs") %>
            </div>
        </main>
    </body>
</html>