<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
        
        <div class="index-header">
          <h1>Health. Cared.</h1>
          <p>Welcome to your PillBox, <%= username %>!</p>
          <img src="/img/pills.png" width="200px">
        </div>
        <div class="container">
          <h2>Your medicines for <span>today</span></h2>
          <% for (pill of pills) { %>
            <a class="card-a" href="/pills/<%= pill._id %>">
              <article class="card">
                <div class="card-img">
                </div>
                <div class="card-content">
                  <h3><%= pill.name %></h3>
                  <p><%= pill.color %></p>
                  <p><%= pill.shape %></p>
                  <p><%= pill.stock %></p>
                </div>
              </article>
            </a> 
          <% } %>
        </div>
        <%- include("../partials/nav.ejs") %>
    </main>
  </body>
</html>

