<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div> 
            <article>
                <h2><%= pill.name %></h2>
                <h3><%= pill.color %></h3>
                <h3><%= pill.shape %></h3>
                <h3><%= pill.stock %></h3>
                <a href="/pills/<%= pill._id %>/edit"><button>Edit</button></a>
                <form action="/pills/<%= pill._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete"/>
                </form>
                <a href="/pills/"><button>Back to Main</button></a>
            </article>
      </div>
    </main>
  </body>
</html>