<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <a href="/pills/"><img class="arrow" src="/img/arrow.png" width="20px"></a>
      <div class="show-container"> 
        <div class="show-image" >
          <% if(pill.type === "capsule"){ %>
            <img src ="/img/capsule.png" width="160px">
            <% } else if (pill.type === "tablet") { %>
              <img src ="/img/tablets.png" width="160px">
            <% } else if (pill.type === "softgel") { %> 
              <img src ="/img/softgel.png" width="160px">
            <% } else if (pill.type === "syrup") { %> 
              <img src ="/img/syrup.png" width="160px">
            <% } else if (pill.type === "aerosol") { %> 
              <img src ="/img/aerosol.png" width="160px">
            <% } else if (pill.type === "injection") { %> 
              <img src ="/img/injection.png" width="160px">
          <% } %> 
        </div>
        <article class="show-info">
          <h1><%= pill.name %></h1>
          <p><%= pill.dosage %> per day</p>
          <p><strong>Stock:</strong> <%= pill.stock %></p>
          <p><strong>Type:</strong> <%= pill.type %></p>
          <p><strong>Time:</strong> <%= pill.time %></p>
          <a href="/pills/<%= pill._id %>/edit"><input class="edit-button" value="Edit"></input></a>
          <form action="/pills/<%= pill._id %>?_method=DELETE" method="POST">
              <input type="submit" value="Delete"/>
          </form>
        </article>
      </div>
      <%- include("../partials/nav.ejs") %>
    </main>
  </body>
</html>